In [1]:
import pandas as pd
import json

In [ ]:
def flatten_json(json_data, prefix=''):
    items = {}
    for k, v in json_data.items():
        new_key = f"{prefix}.{k}" if prefix else k
        if isinstance(v, dict):
            items.update(flatten_json(v, new_key))
        else:
            items[new_key] = v
    return items

In [1]:
from civilio import *

In [13]:
import json
import pandas as pd

In [ ]:
groups = get_groups(token)

In [ ]:
from datetime import datetime

all_data = []

# Obtener la fecha y hora actual en formato yyyy-mm-dd_HH-MM-SS
current_datetime = datetime.now().strftime("%Y-%m-%d_%H-%M-%S")
filename_csv = f"{current_datetime}.csv"
filename_json = f"{current_datetime}.json"
for group in groups:
    group_name = group['name']
    tasks = get_group_tasks(token, group['_id'])
    completed_tasks = filter_tasks(tasks, status='FINISHED')
    for completed_task in completed_tasks:
        stringJson = completed_task.get('formData')
        json_data = json.loads(stringJson)
        flattened_data = _flatten_json(json_data)
        flattened_data['nombre_grupo'] = group_name
        all_data.append(flattened_data)

df = pd.DataFrame(all_data)
# Reordenar las columnas para que 'nombre_grupo' sea la primera
columns = ['nombre_grupo'] + [col for col in df.columns if col != 'nombre_grupo']
df = df[columns]

df.to_csv(filename_csv, index=False)

In [22]:
df.head()

,nombre_grupo,datosSotano.inundado,datosSotano.deformacion.danos,datosSotano.deformacion.actuacion,datosSotano.fisuras.danos,datosSotano.fisuras.actuacion,datosSotano.desprendimientos.danos,datosSotano.desprendimientos.actuacion,datosSotano.humedadAmbiente.danos,datosSotano.instalacionesSaneamientos.danos,...,tecnicos.fechaInspeccion,tecnicos.nColegiadoTecnico1,tecnicos.tecnico1,tecnicos.nColegiadoTecnico2,tecnicos.tecnico2,datosResponsableZona.nombre,datosResponsableZona.telefono,datosPlantaBaja.espaciosNoOperativos.comentarios,datosSotano.deformacion.comentarios,datosPlantaBaja.accesibilidad.zona
0,MAPEO ALDAIA,False,False,False,False,False,False,False,False,False,...,2024-11-11T10:54:18.397Z,03506,Juan R. Navarro Martínez,03735,Fernando Olba Rallo,NaN,NaN,NaN,NaN,NaN
1,MAPEO CATARROJA,False,False,False,False,False,False,False,False,False,...,NaN,03793,Gonzalo Vicente Almazan,8110,Guillermo Navarro Mengual,Francisco J López Zarco,606997787,NaN,NaN,NaN
2,MAPEO CATARROJA,False,False,False,False,False,False,False,False,False,...,NaN,03793,Gonzalo Vicente Almazan,8110,Guillermo Navarro Mengual,Francisco J López Zarco,606997787,Vivienda planta baja,NaN,NaN
3,MAPEO CATARROJA,False,False,False,False,False,False,False,False,False,...,NaN,03793,Gonzalo Vicente Almazan,8110,Guillermo Navarro Mengual,Francisco J López Zarco,606997787,NaN,NaN,NaN
4,MAPEO CATARROJA,False,False,False,False,False,False,False,False,False,...,2024-11-11T10:20:10.572Z,03793,Gonzalo Vicente Almazan,8110,Guillermo Navarro Mengual,Francisco J López Zarco,606997787,NaN,,Foso